<app-nav-bar-doktor></app-nav-bar-doktor>
<form [formGroup]="updateForm" *ngIf="odabranaDijagnoza" name="dijagnozaUpdForm">
  <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Update dijagnoze</h1>
          <button type="button" (click)="odabranaDijagnoza = null" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nazivBolesti1" class="form-label">Naziv bolesti:</label>
            <input id="nazivBolesti1" formControlName="nazivBolesti" class="form-control" />
            <div *ngIf="updateForm.controls['nazivBolesti'].invalid && updateForm.controls['nazivBolesti'].touched" class="text-danger">
              Naziv bolesti je obavezan.
            </div>
          </div>
          <div class="mb-3">
            <label for="opis1" class="form-label">Opis:</label>
            <input id="opis1" formControlName="opis" class="form-control" />
            <div *ngIf="updateForm.controls['opis'].invalid && updateForm.controls['opis'].touched" class="text-danger">
              Opis je obavezan.
            </div>
          </div>
          <div class="mb-3">
            <label for="datumDijagnoze1" class="form-label">Datum uspostavljanja dijagnoze:</label>
            <input type="date" id="datumDijagnoze1" formControlName="datumDijagnoze" class="form-control" />
            <div *ngIf="updateForm.controls['datumDijagnoze'].invalid && updateForm.controls['datumDijagnoze'].touched" class="text-danger">
              Datum uspostavljanja dijagnoze je obavezan.
            </div>
          </div>
          <div class="mb-3">
            <label for="file1" class="form-label"><i class="bi bi-file-earmark-text"></i> Nalaz korisnika</label>
            <div>
              <input type="file" id="file1" (change)="onFileSelected($event)" class="form-control" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="odabranaDijagnoza = null" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
            <button type="button" (click)="Update()" class="btn btn-primary" [disabled]="updateForm.invalid">Spasi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="container mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#dodavanjeDijagnoze">
        <i class="bi bi-plus"></i> Dodavanje dijagnoze
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#pregledDijagnoza">
        <i class="bi bi-search"></i> Pregled dijagnoza
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <!-- Dodavanje dijagnoze -->
    <div class="tab-pane fade show active" id="dodavanjeDijagnoze">
      <div class="container mt-4">
        <div class="card">
          <div class="card-header">
            <h1 class="fs-5"><i class="bi bi-file-plus"></i> Dodavanje dijagnoze</h1>
          </div>
          <div class="card-body">
            <form [formGroup]="dijagnozaForm" (ngSubmit)="Dodaj()">
              <div class="mb-3">
                <label for="nazivBolesti" class="form-label"><i class="bi bi-file-text"></i> Naziv bolesti</label>
                <div>
                  <input type="text" id="nazivBolesti" formControlName="nazivBolesti" class="form-control">
                  <div *ngIf="dijagnozaForm.get('nazivBolesti')?.invalid && dijagnozaForm.get('nazivBolesti')?.touched" class="text-danger small">
                    * Obavezno polje
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="opis" class="form-label"><i class="bi bi-file-text"></i> Opis</label>
                <div>
                  <input type="text" id="opis" formControlName="opis" class="form-control">
                  <div *ngIf="dijagnozaForm.get('opis')?.invalid && dijagnozaForm.get('opis')?.touched" class="text-danger small">
                    * Obavezno polje
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="datumDijagnoze" class="form-label">
                  <i class="bi bi-calendar"></i> Datum uspostavljanja dijagnoze
                </label>
                <div>
                  <input type="date" id="datumDijagnoze" formControlName="datumDijagnoze" class="form-control">
                </div>
              </div>
              <div class="mb-3">
                <label for="file" class="form-label"><i class="bi bi-file-earmark-text"></i> Nalaz korisnika</label>
                <div>
                  <input type="file" id="file" (change)="onFileSelected($event)" class="form-control" />
                </div>
              </div>
              <div class="mb-3">
                <label for="cmbKorisnik" class="form-label"><i class="bi bi-person"></i> Izaberite korisnika doma:</label>
                <div>
                  <select id="cmbKorisnik" formControlName="korisnikDomaID" class="form-select">
                    <option *ngFor="let option of korisniciDoma" [ngValue]="option.korisnikDomaID">{{ option.imePrezime }} </option>
                  </select>
                </div>
              </div>
              <!--
              <div class="mb-3">
                <label for="cmbDoktor" class="form-label"><i class="bi bi-person"></i> Doktor:</label>
                <div>
                  <select id="cmbDoktor" formControlName="zaposlenikId" class="form-select">
                    <option *ngFor="let option of doktori" [ngValue]="option.zaposlenikId">{{ option.imePrezime }}</option>
                  </select>
                </div>
              </div>
              -->
              <div class="text-center">
                <button type="submit" class="btn btn-success" [disabled]="dijagnozaForm.invalid" style="background-color: #28a745;">
                  <i class="far fa-plus-square"></i> Dodaj
                </button>
                <!-- Dijalog
                <div *ngIf="showConfirmationDialog" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="confirmationDialogLabel" aria-modal="true" style="display: block;">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-success text-white">
                      <div class="modal-header">
                        <h5 class="modal-title">
                          <i class="bi bi-check-circle"></i> Uspješno ste dodali dijagnozu
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>  -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Pregled dijagnoza -->
    <div class="tab-pane fade" id="pregledDijagnoza">
      <div class="container mt-4">
        <div class="card">
          <div class="card-header">
            <h1 class="fs-5"><i class="bi bi-search"></i> Pregled dijagnoza</h1>
          </div>
          <div class="card-body">
            <form #PregledForma="ngForm" name="PregledDijagnozeForm">
              <div class="mb-3">
                <label for="cmbKorisnikPretraga" class="form-label">Izaberite korisnika doma:</label>
                <select id="cmbKorisnikPretraga" [ngModelOptions]="{standalone: true}" [(ngModel)]="pretragaPoKorisniku" class="form-select">
                  <option *ngFor="let option of korisniciDoma" [ngValue]="option.korisnikDomaID">{{ option.imePrezime }}</option>
                </select>
              </div>
            </form>
            <div class="row row-cols-1 g-4">
              <div *ngFor="let item of getFiltriraneDijagnoze()" class="col">
                <div class="card" style="width: 100%;">
                  <div class="card-body"><div>
                    <h5 class="card-title">
                      {{ item.nazivBolesti }}
                    </h5>
                    <p class="card-text">
                      <i class="bi bi-info-circle me-2"></i>
                      <strong>Opis: </strong>{{ item.opis }}
                    </p>
                    <p class="card-text">
                      <i class="bi bi-calendar-event me-2"></i>
                      <strong>Datum uspostavljanja dijagnoze: </strong>{{ item.datumDijagnoze | date }}
                    </p>
                    <p class="card-text">
                      <i class="bi bi-person me-2"></i>
                      <strong>Ime doktora:</strong>
                      <span *ngFor="let doktor of doktori">
                        <ng-container *ngIf="item.zaposlenikId == doktor.zaposlenikId">
                        {{ doktor.imePrezime }}
                        </ng-container>
                      </span>
                    </p>
                  </div>
                  <br>
                    <div class="btn-group" role="group" aria-label="Akcije">
                      <button class="btn btn-light border border-primary" style="margin-right: 15px;" (click)="downloadFile(item.dijagnozaId)">
                        <i class="bi bi-download"></i> Preuzmi nalaz
                      </button>
                      <button type="submit" class="btn btn-danger"  style="margin-right: 15px" (click)="deleteFile(item.dijagnozaId)">
                        <i class="bi bi-x"></i> Izbriši nalaz
                      </button>
                      <button type="button" class="btn btn-primary" style="margin-right: 15px" (click)="Odaberi(item)">
                        <i class="bi bi-pencil"></i> Update dijagnozu
                      </button>
                      <button type="button" style="margin-right: 15px" class="btn btn-danger" (click)="Obrisi(item)">
                        <i class="bi bi-trash"></i> Izbriši dijagnozu
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
