/* CSS */
.modern-login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.small-text {
  font-size: 12px;
}

.form-check-label {
  font-weight: normal;
}

.forgot-password {
  margin-top: 10px;
  text-align: right;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.error-message {
  color: #dc3545; /* Bootstrap's default danger color */
  font-size: 14px;
  margin-top: 5px;
}
.btn-primary:hover {
  background-color: #0056b3;
}
