<app-nav-bar-admin></app-nav-bar-admin>

<form>
  <h1>Korisnicki nalog</h1>
  <div class="form-group">
    <label for="korisnickoIme">Korisnicko ime</label>
    <input type="email" class="form-control" id="korisnickoIme" placeholder="Unesite korisnicko ime"
           [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.korisnickoIme">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Unesite email"
           [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.email">
  </div>
  <div class="form-group">
    <label for="lozinka">Lozinka</label>
    <input type="password" class="form-control" id="lozinka" placeholder="Unesite lozinku"
           [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.lozinka">
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="njegovatelj"
           [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.jeNjegovatelj">
    <label class="form-check-label" for="njegovatelj">
      Njegovatelj
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="doktor"
           [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.jeDoktor">
    <label class="form-check-label" for="doktor">
      Doktor
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="fizioterapeut"
           [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.jeFizioterapeut">
    <label class="form-check-label" for="fizioterapeut">
      Fizioterapeut
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="nutricionista"
           [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.jeNutricionista">
    <label class="form-check-label" for="nutricionista">
      Nutricionista
    </label>
  </div>
  <label style="color: red;" *ngIf="praznoPolje">Niste ispunili sva polja!</label>
  <div id="Buttons" style="display: flex; justify-content: center;">
  <button type="submit" class="btn btn-primary" style="background-color: #1d361e; border:0px" (click)="AddKorisnickiNalog()">Submit</button>
  <button type="submit" class="btn btn-primary" style="background-color: #1d361e; border:0px" (click)="GetAllKorisnickiNalog()">Prikazi sve korisnicke naloge</button>
  <button type="submit" class="btn btn-primary" style="background-color: #1d361e; border:0px" (click)="UpdateKorisnickiNalog()">Update korisnicki nalog</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Korisnicko Ime</th>
      <th>Doktor</th>
      <th>Fizioterapeut</th>
      <th>Njegovatelj</th>
      <th>Nutricionista</th>
      <th>Obrisi korisnika</th>
      <th>Update nalog</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getFiltriraniKorisnickiNalog()">
      <td>{{ item.korisnickoIme }}</td>
      <td> <ng-container *ngIf="item.jeDoktor">
        <i class="fas fa-check-circle text-success"></i>
      </ng-container>
        <ng-container *ngIf="!item.jeDoktor">
          <i class="fas fa-times-circle text-danger"></i>
        </ng-container></td>
      <td><ng-container *ngIf="item.jeFizioterapeut">
        <i class="fas fa-check-circle text-success"></i>
      </ng-container>
        <ng-container *ngIf="!item.jeFizioterapeut">
          <i class="fas fa-times-circle text-danger"></i>
        </ng-container></td>
      <td><ng-container *ngIf="item.jeNjegovatelj">
        <i class="fas fa-check-circle text-success"></i>
      </ng-container>
        <ng-container *ngIf="!item.jeNjegovatelj">
          <i class="fas fa-times-circle text-danger"></i>
        </ng-container></td>
      <td><ng-container *ngIf="item.jeNutricionista">
        <i class="fas fa-check-circle text-success"></i>
      </ng-container>
        <ng-container *ngIf="!item.jeNutricionista">
          <i class="fas fa-times-circle text-danger"></i>
        </ng-container></td>
      <td><button type="button" class="btn btn-danger" (click)="ObrisiKorisnickiNalog(item)">Izbrisi nalog</button></td>
      <td><button type="button" class="btn btn-primary" (click)="SelectNalog(item)">Update nalog</button></td>
    </tr>
    </tbody>
  </table>
</form>

