<header>
  <nav class="navbar">
    <div class="logo">
      <fa-icon [icon]="faBell" [ngClass]="{ 'text-danger': hasNewNotification }" [size]="'2x'" (click)="markNotificationAsRead()"></fa-icon>
      <div class="dropdown-content" *ngIf="obavijetUkljucena">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Obavijesti</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of obavijesti">
            <td>{{ item.poruka }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Hamburger button for mobile view -->
    <div class="hamburger-menu" (click)="toggleDropdown()">
      <span>&#9776;</span>
    </div>

    <ul class="nav-links" [ngClass]="{ 'responsive': isMenuOpen }">
      <li><a (click)="IdiPregledKorisnika()">Korisnici doma</a></li>
      <li class="Zadaci"><a (click)="IdiDodajZadatke()">Zadaci</a></li>
      <li><a (click)="IdiPocetna()">Odjavi se</a></li>
     </ul>

    <div class="profile" (click)="PregledOMeni()">
      <span class="far fa-user"></span>
    </div>
  </nav>

</header>
