<header>
  <nav class="navbar">
    <div class="logo">
      <img src="https://png.pngtree.com/png-vector/20221025/ourmid/pngtree-elderly-care-services-hand-drawn-cartoon-flat-illustration-with-caregiver-png-image_6371595.png" alt="Nursing Home Caregivers Logo">
    </div>
    <ul class="nav-links">
      <li><a  (click)="IdiPocetna()">Početna</a></li>
      <li><a  (click)="IdiPregledKorisnika()">Pacijenti</a></li>
      <li class="Zadaci" ><a (click)="IdiDodajZadatke()"> Dodaj Zadatke</a>
        <!-- <div class="dropdown-content">
          <a href="#option1">Pregled zadataka</a>
          <a href="#option2">Option 2</a>
          -- Add more options as needed
        </div>--></li>
      <li class="Napomene"><a >Napomene</a></li>
    </ul>

    <div class="profile" (click)="PregledOMeni()">
      <span class="far fa-user" ></span>
    </div>
  </nav>

</header>
<br><br>
