<h1>Dodavanje fizio terapije</h1>
<form>
  <div>
    <label>Opis</label>
    <input type="text" name="opis" [ngModelOptions]="{standalone: true}" [(ngModel)]="terapijaRequest.opis">
  </div>
  <div>
    <label>Datum postavke </label>
    <input type="date" name="datumPostavke" [ngModelOptions]="{standalone: true}" [(ngModel)]="terapijaRequest.datumPostavke">
  </div>
  <div>
    <label class="form-label"> Fizioterapeut: </label>
    <input class="form-control"  [value]="getFizioterapeut()?.imePrezime" disabled>
  </div>
  <div>
    <label for="cmbKorisnik">Izaberite korisnika doma:</label>
    <select id="cmbKorisnik"  [ngModelOptions]="{standalone: true}" [(ngModel)]="terapijaRequest.korisnikDomaID">
      <option *ngFor="let option of korisniciDoma" [ngValue]="option.korisnikDomaID">{{ option.imePrezime}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2" (click)="Dodaj()">Dodaj</button>
</form>


<h5>Pretraga terapija za korisnika</h5>
<div>
  <label for="cmbKorisnikPretraga">Izaberite korisnika doma:</label>
  <select id="cmbKorisnikPretraga"  [ngModelOptions]="{standalone: true}" [(ngModel)]="pretragaPoKorisniku">
    <option *ngFor="let option of korisniciDoma" [ngValue]="option.korisnikDomaID">{{ option.imePrezime}}</option>
  </select>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Opis</th>
    <th>Datum postavke</th>
    <th>Ime fizioterapeuta</th>
    <th>Obriši terapiju</th>
    <th>Update terapiju</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of getFiltriraneTerapije()">
    <td>{{ item.opis}}</td>
    <td>{{ item.datumPostavke}}</td>
    <td>
       <span *ngFor="let fizioterapeut of allFizioterapeuti">
          <ng-container *ngIf="item.zaposlenikId==fizioterapeut.zaposlenikId">
            {{ fizioterapeut.imePrezime }}
          </ng-container>
        </span>
    </td>
    <td><button type="submit"  class="btn btn-primary" style="background-color: red;" (click)="Obrisi(item)" >Izbriši</button></td>
    <td><button type="submit"  class="btn btn-primary"  (click)="Odaberi(item)" >Update</button></td>
  </tr>
  </tbody>
</table>

<div *ngIf="odabranaTerapija">
  <div class="overlay" [class.show]="odabranaTerapija" aria-hidden="true"></div>
  <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Update terapije</h1>
          <button type="button" (click)="odabranaTerapija=null" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div>
            <label class="form-label"> ID: </label>
            <input class="form-control"  [value]="odabranaTerapija.fizioTerapijaId" disabled>
          </div>

          <div>
            <label class="form-label"> Opis: </label>
            <input class="form-control"  [(ngModel)]="odabranaTerapija.opis">
          </div>

          <div>
            <label class="form-label"> Datum postavke </label>
            <input class="form-control"  [(ngModel)]="odabranaTerapija.datumPostavke">
          </div>
          <div>
            <label class="form-label"> Korisnik doma </label>
            <select class="form-control"  [(ngModel)]="odabranaTerapija.korisnikDomaID" disabled>
              <option *ngFor="let item of korisniciDoma" [value]="item.korisnikDomaID">{{item.imePrezime}}</option>
            </select>
          </div>
          <div>
            <label class="form-label"> Fizioterapeut </label>
            <select class="form-control"  [(ngModel)]="odabranaTerapija.zaposlenikId" disabled>
              <option *ngFor="let item of allFizioterapeuti" [value]="item.zaposlenikId">{{item.imePrezime}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="odabranaTerapija = null" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="Update()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" [class.show]="odabranaTerapija" aria-hidden="true"></div>
</div>
