
.bg-image {
  background-image: url('assets/background-image.jpg'); /* Postavite putanju do vaše pozadinske slike */
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8); /* Prozirna bela boja za navbar */
}
