<app-nav-bar-njejgovatelj></app-nav-bar-njejgovatelj>
<div class="container text-center mt-4">
  <h2>Pregledajte arhivu zadataka za pacijenta {{ this.korisnik?.imePrezime }}</h2>
  <Button (click)="PregledajArhivuSedmicnihZadataka()" class="btn btn-primary">
    <i class="fas fa-archive"></i> Arhiva sedmičnih zadataka
  </Button>
  <Button (click)="PregledajArhivuDnevnihZadataka()" class="btn btn-success">
    <i class="fas fa-archive"></i> Arhiva dnevnih zadataka
  </Button>

</div>

<div *ngIf="showDnevni || showSedmicni" class="custom-table">
  <div *ngIf="showDnevni" class="container mt-4">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">Opis</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Datum zadatka</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of getDnevniZadaci()">
        <td class="text-center">{{ item.opis }}</td>
        <td class="text-center">
          <label class="form-check-label ">
            <input  class="form-check-input bg-dark-subtle border-dark" type="checkbox" disabled="true" [(ngModel)]="item.status" />
          </label>
        </td>
        <td class="text-center">{{item.datumPostavke}}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="showSedmicni" class="container mt-4">
    <table class="table table-bordered table-striped table-striped-custom">
      <thead class="thead-dark">
      <tr>
        <th class="text-center" scope="col">Opis</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Datum zadatka</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of getSedmicniZadaci(); ">
        <td class="text-center">{{ item.opis }}</td>
        <td class="text-center">
          <label class="form-check-label">
            <input class="form-check-input bg-dark-subtle border-dark" type="checkbox" disabled="true" [(ngModel)]="item.status" />
          </label>
        </td>
        <td class="text-center">{{item.datumPostavke}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
