<header>
  <nav class="navbar">
    <div class="logo"></div>

    <ul class="nav-links ">
      <li><a (click)="IdiPocetna()">Pocetna</a></li>
      <li><a (click)="IdiPregledKorisnika()">Njegovatelj</a></li>
      <li class="Zadaci"><a (click)="IdiDodajZadatke()"> Nutricionista</a></li>
      <li><a (click)="PregledDoktora()">Doktor</a></li>
      <li><a (click)="PregledFizioterapeuta()">Fizioterapeut</a></li>
      <li><a (click)="PregledKorisnikaDoma()">Korisnik doma</a></li>
      <li><a (click)="Odjava()">Odjava</a></li>
    </ul>

    <div class="profile" >
      <span class="far fa-user"></span>
    </div>
  </nav>

</header>

