body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #436243;
  padding: 15px 20px;
  color: #fff;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:50px;
}
.logo{
  height: 140%;
}
.logo img {
  width: 100px;
  height: 100%;
}
.fa-user{
  height:100%;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.profile {
  display: flex;
  align-items: center;
  height:80%;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile span {
  font-weight: bold;
  font-size: 14px;
}

/* Add media queries for responsive design if needed */
.space{
  height: 5%;
}
.Zadaci:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 0;
  z-index: 1;
}

