
.custom-checkbox {
  position: relative;
  margin-bottom: 1rem;
}

.custom-checkbox .form-check-input {
  position: absolute;
  left: -9999px;
}

.custom-checkbox .form-check-label {
  position: relative;
  padding-left: 2.5em;
  cursor: pointer;
}

.custom-checkbox .form-check-label .checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #007bff; /* Checkbox border color */
  border-radius: 0.25em;
}

.custom-checkbox .form-check-input:checked + .form-check-label .checkbox-icon:after {
  content: "";
  display: block;
  width: 0.625em;
  height: 0.625em;
  background: #007bff; /* Checkbox fill color when checked */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.125em;
}
.Buttons
{
}
.FirstForm{
  padding-top: 100px;
  margin: auto;
}
