<h1>Dodaj napomenu </h1>
<form #NapomenaForma="ngForm" >
  <div>
    <label>Opis</label>
    <input type="text" name="opis" [ngModelOptions]="{standalone: true}" [(ngModel)]="napomenaDodajRequest.opis">
  </div>
  <div>
    <label>Prioritet</label>
    <input  type="checkbox" [ngModelOptions]="{standalone:true}" [(ngModel)]="napomenaDodajRequest.prioritet">
  </div>
  <div>
    <label>Datum postavke</label>
    <input type="date" name="datumPostavke" [ngModelOptions]="{standalone: true}" [(ngModel)]="napomenaDodajRequest.datumPostavke">
  </div>
  <div>
    <label>Aktivna</label>
    <input  type="checkbox" [ngModelOptions]="{standalone:true}" [(ngModel)]="napomenaDodajRequest.isAktivna">
  </div>
  <div>
    <label>Zaposlenik</label>
    <input type="number" name="zaposlenikId" [ngModelOptions]="{standalone: true}" [(ngModel)]="napomenaDodajRequest.zaposlenikId">
  </div>
  <div>
    <label for="cmbVrstaNapomene">Izaberite vrstu napomene:</label>
    <select id="cmbVrstaNapomene"  [ngModelOptions]="{standalone: true}" [(ngModel)]="napomenaDodajRequest.vrstaNapomeneId">
      <option *ngFor="let option of vrsteNapomena" [ngValue]="option.vrstaNapomeneId">{{ option.opis }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2" (click)="Dodaj()">Dodaj</button>
</form>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Oznaci</th>
    <th>ImePrezime</th>
    <th>JMBG</th>
    <th>Datum rodjenja</th>
    <th>Broj sobe</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of getKorisnici()">
    <td><input  type="checkbox" [ngModelOptions]="{standalone:true}" [(ngModel)]="item.selected" /></td>
    <td>{{ item.imePrezime }}</td>
    <td>{{ item.jmbg}}</td>
    <td>{{ item.datumRodjenja | date }}</td>
    <td>{{ item.brojSobe }}</td>
  </tr>
  </tbody>
</table>
