<app-nav-bar-admin></app-nav-bar-admin>

<div class="container page-content">
  <h1>Welcome to the Admin Panel</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Njegovatelj</h5>
          <p class="card-text">Uredi i dodaj njegovatelja.</p>
          <a  class="btn btn-primary" (click)="PregledNjegovatelja()">idi na njegovatelje</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nutricionista</h5>
          <p class="card-text">Uredi i dodaj nutricionistu.</p>
          <a  class="btn btn-primary" (click)="PregledNutricionista()">Idi na nutricionistu</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS and jQuery (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

