
<h2>Dodavanje korisnika doma</h2>

<form #KorisnikDomaForma="ngForm" >
  <div>
    <label>Ime i prezime</label>
    <input type="text" name="imePrezime" [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnikRequest.imePrezime">
  </div>
  <div>
    <label>JMBG</label>
    <input type="text" name="jmbg" [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnikRequest.jmbg">
  </div>
  <div>
    <label>Datum rodjenja</label>
    <input type="date" name="datumRodjenja" [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnikRequest.datumRodjenja">
  </div>
  <div>
    <label>Broj sobe</label>
    <input type="number" name="brojSobe" [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnikRequest.brojSobe">
  </div>
  <div class="dropdown">
    <label>Opština</label>
    <select class="btn btn-secondary dropdown-toggle" [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnikRequest.opstinaID">
      <option class="dropdown-item" *ngFor="let option of options" [value]="option.opstinaID">{{ option.nazivOpstine }}</option>
    </select>
  </div>
  <div>
    <label>Slika korisnika</label>
    <input id="slika-input" type="file" accept="image/*" (change)="generisi_preview()">
    <img style="max-width: 100%; height: 200px" src="{{korisnikRequest.slika_base64_format}}">
  </div>
  <button type="submit" class="btn btn-primary mb-2" (click)="Dodaj()">Dodaj</button>
</form>

