

<div style="width: 80%; margin: 0 auto;">
  <!-- Definicija tabova -->
  <ul class="nav nav-tabs" id="korisniciTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="dodaj-tab" data-bs-toggle="tab" href="#dodaj" role="tab" aria-controls="dodaj" aria-selected="true">
        Dodaj zaposlenika
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pregled-tab" data-bs-toggle="tab" href="#pregled" role="tab" aria-controls="pregled" aria-selected="false">
        Pretraga
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent" style="margin-top: 20px;">
    <!-- Tab za dodavanje korisnika -->
    <div class="tab-pane fade show active" id="dodaj" role="tabpanel" aria-labelledby="dodaj-tab">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <h3>Dodavanje zaposlenika</h3>
        </div>
        <div class="card-body">
          <form #DoktorForma="ngForm">
            <div class="mb-3">
              <label class="form-label">Ime i prezime</label>
              <input type="text" name="imePrezime" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="doktorRequest.imePrezime">
            </div>
            <div class="mb-3">
              <label class="form-label">JMBG</label>
              <input type="text" name="jmbg" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="doktorRequest.jmbg">
            </div>
            <div class="mb-3">
              <label class="form-label">Datum rođenja</label>
              <input type="date" name="datumRodjenja" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="doktorRequest.datumRodjenja">
            </div>
            <div class="mb-3">
              <label class="form-label">Datum zaposlenja</label>
              <input type="date" name="datumZaposlenja" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="doktorRequest.datumZaposlenja">
            </div>
            <div class="mb-3">
              <label class="form-label">Naziv klinike</label>
              <input type="text" name="nazivKlinike" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="doktorRequest.nazivKlinike">
            </div>
            <div class="mb-3">
              <label class="form-label">Oblast medicine</label>
              <input type="text" name="oblastMedicine" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="doktorRequest.oblastMedicine">
            </div>
            <div class="mb-3">
              <label class="form-label">Specijalizacija</label>
              <input type="text" name="specijalizacija" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="doktorRequest.specijalizacija">
            </div>

            <div class="mb-3">
              <label for="cmbPozicija" class="form-label">Izaberite poslovnu poziciju:</label>
              <select id="cmbPozicija" class="form-select" [ngModelOptions]="{standalone: true}" [(ngModel)]="doktorRequest.poslovnaPozicijaId">
                <option *ngFor="let option of poslovnePozicije" [ngValue]="option.poslovnaPozicijaId">{{ option.nazivPozicije }}</option>
              </select>
            </div>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success" (click)="Dodaj()">
                <i class="fas fa-plus-circle"></i> Dodaj
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Tab za pregled i update korisnika -->
    <div class="tab-pane fade" id="pregled" role="tabpanel" aria-labelledby="pregled-tab">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h3>Pregled i ažuriranje zaposlenika</h3>
        </div>
        <div class="card-body">
          <button class="btn btn-primary mb-4" (click)="Prikazi()">
            <i class="fas fa-eye"></i> Prikaži
          </button>
          <table *ngIf="prikaziTabelu" class="table table-hover table-bordered table-secondary">
            <thead>
            <tr>
              <th>Ime i prezime</th>
              <th>Datum rođenja</th>
              <th>Datum zaposlenja</th>
              <th>JMBG</th>
              <th>Naziv klinike</th>
              <th>Oblast medicine</th>
              <th>Specijalizacija</th>
              <th>Akcije</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of getAllDoktori()">
              <td>{{ item.imePrezime }}</td>
              <td>{{ item.datumRodjenja }}</td>
              <td>{{ item.datumZaposlenja }}</td>
              <td>{{ item.jmbg }}</td>
              <td>{{ item.nazivKlinike }}</td>
              <td>{{ item.oblastMedicine }}</td>
              <td>{{ item.specijalizacija }}</td>
              <td>
                <button type="submit" class="btn btn-danger btn-sm" (click)="IzbrisiDoktora(item)">
                  <i class="fas fa-trash-alt"></i> Izbriši
                </button>
                <button type="submit" class="btn btn-warning btn-sm" (click)="Odaberi(item)">
                  <i class="fas fa-edit"></i> Update
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<form #updateForm="ngForm"  name="doktorUpdForm">
  <div *ngIf="odabraniDoktor">
    <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Update doktora</h1>
            <button type="button" (click)="odabraniDoktor = null" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3">
              <label for="ImePrezime" class="form-label">Ime i prezime:</label>
              <input id="ImePrezime" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="odabraniDoktor.imePrezime">
            </div>

            <div class="mb-3">
              <label for="Jmbg" class="form-label">JMBG:</label>
              <input id="Jmbg" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="odabraniDoktor.jmbg">
            </div>

            <div class="mb-3">
              <label for="datumRodjenja" class="form-label">Datum rodjenja:</label>
              <input id="datumRodjenja" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="odabraniDoktor.datumRodjenja">
            </div>

            <div class="mb-3">
              <label for="datumZaposlenja" class="form-label">Datum zaposlenja:</label>
              <input id="datumZaposlenja" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="odabraniDoktor.datumZaposlenja">
            </div>

            <div class="mb-3">
              <label for="nazivKlinike" class="form-label">Naziv klinike:</label>
              <input id="nazivKlinike" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="odabraniDoktor.nazivKlinike">
            </div>

            <div class="mb-3">
              <label for="oblastMedicine" class="form-label">Oblast medicine:</label>
              <input id="oblastMedicine" class="form-control" [ngModelOptions]="{standalone: true}"[(ngModel)]="odabraniDoktor.oblastMedicine">
            </div>

            <div class="modal-footer">
              <button type="button" (click)="odabraniDoktor = null" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="Update()" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
