
<div class="container mt-4">
  <div class="card">
    <div class="card-body LicniPodaci">
      <div class="form-group row">
        <label for="imePrezime" class="col-sm-3 col-form-label">Ime i prezime</label>
        <div class="col-sm-9">
          <input id="imePrezime" class="form-control" [ngModelOptions]="{standalone:true}" [ngModel]="fizioterapeut?.imePrezime" [disabled]="true" />
        </div>
      </div>

      <div class="form-group row">
        <label for="jmbg" class="col-sm-3 col-form-label">JMBG</label>
        <div class="col-sm-9">
          <input id="jmbg" class="form-control" [ngModelOptions]="{standalone:true}" [ngModel]="fizioterapeut?.jmbg" [disabled]="true" />
        </div>
      </div>

      <div class="form-group row">
        <label for="datumRodjenja" class="col-sm-3 col-form-label">Datum rođenja</label>
        <div class="col-sm-9">
          <input id="datumRodjenja" class="form-control" [ngModelOptions]="{standalone:true}" [ngModel]="fizioterapeut?.datumRodjenja" [disabled]="true" />
        </div>
      </div>

      <div class="form-group row">
        <label for="datumZaposlenja" class="col-sm-3 col-form-label">Datum zaposlenja</label>
        <div class="col-sm-9">
          <input id="datumZaposlenja" class="form-control" [ngModelOptions]="{standalone:true}" [ngModel]="fizioterapeut?.datumZaposlenja" [disabled]="true" />
        </div>
      </div>

      <div class="form-group row">
        <label for="oblastFizijatrije" class="col-sm-3 col-form-label">Oblast fizijatrije</label>
        <div class="col-sm-9">
          <input id="oblastFizijatrije" class="form-control" [ngModelOptions]="{standalone:true}" [ngModel]="fizioterapeut?.oblastFizijatrije" [disabled]="true" />
        </div>
      </div>

      <div class="form-group nalog">
        <div class="form-group row">
          <label for="korisnickoIme" class="col-sm-3 col-form-label">Korisničko ime</label>
          <div class="col-sm-9">
            <input id="korisnickoIme" class="form-control" [ngModelOptions]="{standalone:true}" [ngModel]="korisnickiNalog?.korisnickoIme" [disabled]="true" />
            <button type="button" class="btn btn-success" (click)="PromijeniKorisnickoIme()">Promjeni korisnicko ime</button>
          </div>

        </div>

        <div class="form-group row">
          <label  class="col-sm-3 col-form-label">Lozinka</label>
          <div class="col-sm-9">
            <button type="button" class="btn btn-success" (click)="PromijeniLozinku()">Promjeni lozinku</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="prikaziDialog">

  <div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLiveLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="Otkazi()"></button>
        </div>
        <div class="modal-body">
          <label>Ukucajte staru lozinku!</label>
          <input type="password" [ngModelOptions]="{standalone:true}" [(ngModel)]="staraLozinka"/>
          <div class="modal-body" *ngIf="showErrorNePostojiNalog ===true">Neispravna lozinka</div>
          <Button (click)="ProvjeriLozinku()">Promijeni</Button>
        </div>
        <hr/>
        <div class="modal-body" *ngIf="showPromijeniLozinku===true">
          <label>Ukucajte novu lozinku!</label>
          <input type="password" [ngModelOptions]="{standalone:true}" [(ngModel)]="novaLozinka"/>
        </div>
        <div class="modal-body" *ngIf="showPromijeniLozinku===true">
          <label>Potvrdite lozinku!</label>
          <input type="password" [ngModelOptions]="{standalone:true}" [(ngModel)]="novaLozinkaPotvrda"/>
          <div *ngIf="lozicnkeNotMatching">Lozinke se ne podudaraju!</div>
        </div>
        <div class="modal-body" *ngIf="showPromijeniNalog ===true">
          <label>Ukucajte novo korisnicko ime!</label>
          <input [ngModelOptions]="{standalone:true}" [(ngModel)]="novoKorisnickoIme"/>
          <label *ngIf="emptyKorisnickoIme">Korisnicko ime ne moze biti prazno polje!</label>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal" (click)="Otkazi()">Close</button>
          <button type="button"  class="btn btn-primary" (click)="ProvjeraIPromjenaLozinke()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>


