
<div *ngIf="showFirstForm" class="container mt-4">
  <h3>Dodaj nutricionistu</h3>
  <form>
    <div class="form-group">
      <label for="comboBox2">Izaberite poslovnu poziciju:</label>
      <select id="comboBox2" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="dodajNutricionistu.poslovnaPozicijaId">
        <option *ngFor="let option of poslovnaPozicija" [ngValue]="option.poslovnaPozicijaId">{{ option.poslovnaPozicijaId }} - {{ option.opisPosla }}</option>
      </select>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Ime i prezime</label>
        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="dodajNutricionistu.imePrezime">
      </div>
      <div class="form-group col-md-6">
        <label>JMBG</label>
        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="dodajNutricionistu.jmbg" (input)="validateInput(dodajNutricionistu.jmbg)">
        <p *ngIf="isValid" class="text-success">Valid Input</p>
        <p *ngIf="!isValid" class="text-danger">Invalid Input</p>
      </div>
    </div>
    <div class="form-group">
      <label for="birthday">Datum rodjenja:</label>
      <input type="date" id="birthday" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="dodajNutricionistu.datumRodjenja">
    </div>
    <div class="form-group">
      <label for="hiredate">Datum zaposlenja:</label>
      <input type="date" id="hiredate" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="dodajNutricionistu.datumZaposlenja">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Oblast nutricionizma</label>
        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="dodajNutricionistu.oblastNutricionizma">
      </div>
      <div class="form-group col-md-6">
        <label>Nutricionisticki centar</label>
        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="dodajNutricionistu.nutricionistickiCentar">
      </div>
    </div>
    <div *ngIf="showConfirmationDialog" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="confirmationDialogLabel" aria-modal="true" style="display: block;">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-success text-white">
          <div class="modal-header">
            <h5 class="modal-title">
              <i class="bi bi-check-circle"></i> Uspješno upravljenje nutricionistom
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div><label style="color: red;" *ngIf="showError">Niste ispunili sva polja!</label></div>
    <div id="Buttons" class="text-center">
      <button type="submit" class="btn btn-primary"  style="background-color: #1d361e; border:0px" (click)="DodajNutricionistu()"><i class="fas fa-plus"></i>Dodaj</button>
      <button type="submit" class="btn btn-primary" style="background-color: #1d361e; border:0px" (click)="PregledajNutricioniste()"><i class="fas fa-eye"></i>Prikazi sve</button>
      <button type="submit" class="btn btn-primary" style="background-color: #1d361e; border:0px" (click)="UpdateNutricionistu()"><i class="fas fa-sync"></i>Update</button>
    </div>
  </form>
</div>
  <div *ngIf="showConfirmationDialog" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="confirmationDialogLabel" aria-modal="true" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-success text-white">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="bi bi-check-circle"></i> Uspješno upravljenje nutricionistom
          </h5>
        </div>
      </div>
    </div>

  </div>
<form *ngIf="!showFirstForm">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label >Korisnicko ime</label>
          <input type="email" class="form-control" placeholder="Unesite korisnicko ime"
                 [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.korisnickoIme">
        </div>
        <div class="form-group">
          <label >Email</label>
          <input type="email" class="form-control" placeholder="Unesite email" [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.email">
        </div>
        <div class="form-group">
          <label >Lozinka</label>
          <input type="password" class="form-control" placeholder="Unesite lozinku" [ngModelOptions]="{standalone: true}" [(ngModel)]="korisnickiNalogRequest.lozinka">
        </div>
      </div>

    </div>
    <label *ngIf="prikaziErrorNalog">Korisnicki podaci su vec koristeni</label>
    <button type="submit" class="btn btn-primary mt-3" (click)="AddKorisnickiNalog()">Submit</button>
  </div>

</form>
<table class="table table-striped" *ngIf="prikaziTabelu" >
    <thead>
    <tr>
        <th>Ime nutricioniste</th>
        <th>Datum rodjenja</th>
        <th>Datum zaposlenja</th>
        <th>JMBG</th>
        <th>Oblast nutricionizma</th>
        <th>Nutricionisticki centar</th>
        <th>Obrisi korisnika</th>
        <th>Update korisnika</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getAllNutricionisti()">
        <td>{{ item.imePrezime }}</td>
        <td>{{ item.datumRodjenja }}</td>
        <td>{{ item.datumZaposlenja }}</td>
        <td>{{ item.jmbg }}</td>
        <td>{{ item.nutricionistickiCentar }}</td>
        <td>{{ item.oblastNutricionizma }}</td>
        <td><button type="submit"  class="btn btn-primary" style="background-color: red;" (click)="IzbrisiNutricionistu(item)" >Izbrisi nalog</button></td>
        <td><button type="submit"  class="btn btn-primary" (click)="SelectNutricionistu(item)" >Update nalog</button></td>
    </tr>
    </tbody>
</table>
