.bg-image {
  background-image: url('../../assets/dom.jpg');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color: black;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

