<!-- File Upload Component -->
<app-nav-bar-nutricionista></app-nav-bar-nutricionista>
<div class="container mt-4">
  <div class="card">
    <div class="card-body file-upload">
      <h1 class="text-center mb-4">
        <i class="fas fa-file-upload"></i>
        File Upload
      </h1>

      <!-- File Input -->
      <div class="form-group text-center">
        <label for="fileInput">
          <i class="fas fa-cloud-upload-alt"></i> Dodajte plan ishrane
        </label>
        <br>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" class="form-control-file" />
      </div>

      <!-- Upload and Add Buttons -->
      <div class="text-center mt-3">
        <button class="btn btn-success" (click)="DodajPlanIshrane()">
          <i class="fas fa-plus"></i> Dodaj
        </button>
      </div>
      <div class="card-body">
        <div class="toggle-container" >
          <div class="toggle-container" (click)="SelectAll()">
            <label class="toggle-label" [class.active]="!isSelected">
              <div class="toggle-bar">
                <div class="toggle-circle"></div>
              </div>
              <span>Oznaci sve</span>


            </label>
          </div>
          <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search"></i>
                      </span>
            <input type="text" class="form-control" placeholder="Pretrazi" [ngModelOptions]="{standalone:true}" [(ngModel)]="pretragaNaziv" aria-label="Search" aria-describedby="basic-addon1">
          </div>
        </div>

        <div class="table-container">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                <i class="far fa-check-square"></i>
                Oznaci
              </th>
              <th>
                <i class="far fa-user"></i>
                ImePrezime
              </th>
              <th>
                <i class="far fa-id-card"></i>
                JMBG
              </th>
              <th>
                <i class="far fa-calendar-alt"></i>
                Datum rodjenja
              </th>
              <th>
                <i class="fa-solid fa-list-ol"></i>
                Broj sobe
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of getKorisnici()">
              <td>
                <input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone:true}" [(ngModel)]="item.selected" />
              </td>
              <td>{{ item.imePrezime }}</td>
              <td>{{ item.jmbg}}</td>
              <td>{{ item.datumRodjenja | date }}</td>
              <td>{{ item.brojSobe }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <label *ngIf="showErrorNemaKorisnika" class="error-message"> Niste izabrali korisnika!</label>
      </div>
      <!-- File List -->
      <div class="mt-4">
        <div *ngFor="let planIshrane of planIshraneResponse" class="plan-item text-center">
          <div class="file-id">
            <i class="fas fa-file-alt"></i>  Naziv plana: {{ PrikaziImeFajla(planIshrane.fileId) }}
          </div>
          <div class="file-name">
            <i class="fas fa-file"></i> File dodao: {{ PrikaziImeDodavaca(planIshrane.nutricionistaId) }}
          </div>
          <button class="btn btn-primary download-button" (click)="downloadFile(planIshrane.fileId)">
            <i class="fas fa-download"></i> Download
          </button>
          <button class="btn btn-danger delete-button" (click)="deletePlanIshrane(planIshrane)">
            <i class="fas fa-trash"></i> Izbrisi
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


